.fa-2x {
	font-size: 1.5em;
}

.action {
	width: 80%;
	margin-left: 10%;
}

.visit {
	padding-right: 0px;
	padding-left: 0px;
/* 	background: #3474ad; */
}

.property-price-single {
	color: #56b791;
}

.property-title .fa {
	color: #FE7569;
}

.property-single-item .property-details-single{
	background: #3474ad;
	color: white;
}

.cus-env-color, #cus-env{
	color: #3474ad;
}

.cus-env-color:hover{
	color: #FE7569;
}

#footer{
	background: white;
}

.header-default .navbar-brand {
    padding:0px;
}

.navbar-toggle {
	visibility: hidden;
}

#scheduledMesage {
	margin-left: 2.5%;
	margin-top: 1%;
	font-size: medium;
	padding: .5%;
}

body {
	padding: .5%;
}